# config.plのサンプル
# デフォルトでchat.psgiと同じディレクトリのconfig.plが呼ばれる
# あるいはYAIRC_CONFIG_FILEで指定する。（暫定）

use strict;

+{
    'socketio' => { # PocketIOの設定
        'heartbeat_interval' => 15,  # heartbeatの間隔(heartbeat_timeout)
        'connection_timeout' => 25,  # この間通信がないとコネクションが切断される(close_timeout)
        'polling_timeout'    => 15,  # jsonp-polling, xhr-pollingにおけるpollingの有効間隔(reconnect_timeout)
        'connected_timeout'  => 30,  # handshake(connecting)してからconnectedになるまでの制限時間(connect_timeout)
        'max_connection'     => 100, # 最大同時接続数...現在のところPocketIO自体は利用していない
    },

    'server_info' => {
        version       => '1.00',
        name          => 'Hachoji.pm',
        default_tag   => 'PUBLIC',
        introduction  => 'テストサーバ',
        api_endpoint => {
            '/api/post'    => [ 'Post'   => {} => 'user message投稿用api' ],
            '/api/search'  => [ 'Search' => {} => 'user message検索用api' ],
        },
    },

    'database' => {
        'connect_info' => [
            'dbi:mysql:database=name', 'user', 'password', 
            {
                mysql_enable_utf8 => 1 ,
                mysql_auto_reconnect => 1,
                RaiseError => 1,
            }
        ],
    },

    'twitter_appli' => {
        consumer_key    => 'xxxx',
        consumer_secret => 'yyyy',
    },

    'message_log_limit' => 100, # タグ毎のログ数

    'token_expiration_sec' => 10, # default 604800 sec = 7 days

    'plugins' => [
        [ 'AutoDefaultTag' => [ 'public' ], ],
        [ 'WelcomeMessage', [ message => 'Hi, %s. This is Hachioji.pm!' ] ],
    ],

};


