# config.plのサンプル
# デフォルトでchat.psgiと同じディレクトリのconfig.plが呼ばれる
# あるいはYAIRC_CONFIG_FILEで指定する。（暫定）

use strict;

+{
    'socketio' => { # PocketIOの設定
        'heartbeat_interval' => 15,  # heartbeatの間隔(heartbeat_timeout)
        'connection_timeout' => 25,  # この間通信がないとコネクションが切断される(close_timeout)
        'polling_timeout'    => 15,  # jsonp-polling, xhr-pollingにおけるpollingの有効間隔(reconnect_timeout)
        'connected_timeout'  => 30,  # handshake(connecting)してからconnectedになるまでの制限時間(connect_timeout)
        'max_connection'     => 100, # 最大同時接続数...現在のところPocketIO自体は利用していない
    },

    'server_info' => {
        version       => '1.00',
        name          => 'Hachoji.pm',
        default_tag   => 'PUBLIC',
        introduction  => 'テストサーバ',
        auth_endpoint => { # endpoint => [ $module_name, $args, $description_for_client ]
            '/login'         => [
                'Yancha::Auth::Simple'  => {
                    name_field => 'nick'
                } => { description => 'Test!' },
            ],
            '/login/basic'   => [
                'Yancha::Auth::BasicAuth' => {
                    passwd_file  => '.htpasswd',
                    check_hashes => ['plain','crypt','md5','sha1'],
                    realm        => 'Hachioji.pm',
                } => { description => 'Basic認証' },
            ],
            '/login/twitter' => [
                'Yancha::Auth::Twitter' => {
                    consumer_key    => 'xxxx',
                    consumer_secret => 'yyyy',
                }, => { description => 'Twitter!' },
            ],
        },
        api_endpoint => {
            '/api/post'    => [ 'Yancha::API::Post'   => {} => 'user message投稿用api' ],
            '/api/search'  => [ 'Yancha::API::Search' => {} => 'user message検索用api' ],
            '/api/user'    => [ 'Yancha::API::User'   => {} => 'user data取得用api' ],
        },
    },

    'database' => {
        'connect_info' => [
            'dbi:mysql:database=name', 'user', 'password', 
            {
                mysql_enable_utf8 => 1 ,
                mysql_auto_reconnect => 1,
                RaiseError => 1,
            }
        ],
    },
    'message_log_limit' => 100, # タグ毎のログ数

    'token_expiration_sec' => 10, # default 604800 sec = 7 days

    'plugins' => [
        [ 'Yancha::Plugin::WelcomeMessage', [ message => 'Hi, %s. This is Hachioji.pm!' ] ],
        [ 'Yancha::Plugin::NoRec' ],
    ],

};


